.conteudo{
display: flex;

}
.cartao{
 
background-color: rgba(254, 254, 254, 0.531);
margin: 1rem 1rem;
flex-grow: 1;
flex-basis:calc(33%-6rem ) ;
text-align:center ;
border-radius: 10npx;
}
body{
background-image: url("../bg.jpeg");
background-repeat:no-repeat ;
background-size: contain;

}
.cartao p{
font-size:10px ;
margin-top: 1rem;
padding: 2rem;
}
footer{
background-color:black;
color:black;
width: 600px;
height: 2rem;
position:fixed;
bottom:0;
text-align:center ;
align-content:center ;
font: size 16px; ;


}


.cartao--conteudo{






}

.cartao:hover   .cartao--conteudo{
background-color:blue ;
transform: rotate(60deg);

}
.cartao--pergunta,  .cartao--resposta{
    backface-visibility: hidden;


}
.cartao--pergunta{
transform: rotate(20deg);

}










