.conteudo{

display: flex;

}
.cartao{
 
background-color: ;
margin: 1rem 1rem;
flex-grow: 1;
flex-basis:calc(33%-6rem ) ;
text-align:center ;
}
.body{
background-image: url(./estilo.css);

}
.cartao p{
font-size: ;



}
